.input-control {
  display: block !important;
}
.date {
  /* width:188% !important; */
  border-radius: 0.3rem;
  background-color: #c3c8cc;
  border-color: transparent;
  outline: none;
  height: 2rem;

  width: 100%;
  margin-left: 0;
}
@media screen and (max-width: 769px) {
  /* .inp{
        width:240% !important;
    } */
}
.one,
.two,
.three,
.four,
.five,
.six,
.seven {
  position: absolute;
  top: 52px;
  left: 64px;
}
.two,
.three,
.four,
.six {
  left: 10rem;
}
.five,
.six,
.seven {
  left: 17rem;
}

.three,
.six {
  top: 8.5rem;
}
.four,
.seven {
  top: 13.5rem;
}

.type {
  font-size: 1.2rem !important;
  margin: 0;
}
.route {
  font-size: 1rem;
  margin-top: 0.3rem;
  margin-bottom: 0;
  padding: 0;
}
.ac {
  margin-top: 0 !important;
  margin-right: 0.5rem !important;
}
.seat {
  width: 1.5rem;
}
.available {
  background: green;
}
.booked {
  background: grey;
}
.selected {
  background: blue;
}
.price {
  color: green;
}
.booked {
  color: grey;
}
.selected {
  color: green;
}

@media screen and (max-width: 769px) {
  .route {
    font-size: 0.8rem;
    margin-bottom: 0;
  }
  /* .type {
    font-size: 5rem;
  } */
}

/* .icon, .icons{
    position:absolute;
    right:0;
    top:0
}
.icons{
    top:3rem
} */

.car {
  width: 6rem;
}
